/* 3. GAME-DEV THEME */
[data-theme='game-dev'] {
  --background: #fdf6e3;
  --foreground: #2e3133;
  --primary: #d04f99;
  --primary-foreground: #ffffff;
  --secondary: #facc15;
  --secondary-foreground: #191c1e;
  --accent: #191c1e;
  --accent-foreground: #8acfd1;
  --card: #fbe2a7;
  --card-foreground: #454749;
  --popover: #fdf6e3;
  --popover-foreground: #2e3133;
  --muted: #b2e1eb;
  --muted-foreground: #5d5e61;
  --destructive: #f96f70;
  --destructive-foreground: #ffffff;
  --border: #d04f99;
  --input: #e4e4e4;
  --ring: #e670ab;
  --surface: #fdf6e3;
  --surface-foreground: #2e3133;
  --chart-1: #e670ab;
  --chart-2: #84d2e2;
  --chart-3: #fbe2a7;
  --chart-4: #f3a0ca;
  --chart-5: #d7488e;
  --sidebar: #fdf6e3;
  --sidebar-foreground: #191c1e;
  --sidebar-primary: #d04f99;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f9a8d4;
  --sidebar-accent-foreground: #191c1e;
  --sidebar-border: #d04f99;
  --sidebar-ring: #e670ab;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #ffedee;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

.dark[data-theme='game-dev'] {
  --background: #141c27;
  --foreground: #f3e3ea;
  --primary: #fbe2a7;
  --primary-foreground: #141c27;
  --secondary: #e4a2b1;
  --secondary-foreground: #141c27;
  --accent: #b4728f;
  --accent-foreground: #f3e3ea;
  --card: #121824;
  --card-foreground: #f3e3ea;
  --popover: #141c27;
  --popover-foreground: #f3e3ea;
  --muted: #272e37;
  --muted-foreground: #e4a2b1;
  --destructive: #f96f70;
  --destructive-foreground: #ffffff;
  --border: #324859;
  --input: #20333d;
  --ring: #50afb6;
  --surface: #141c27;
  --surface-foreground: #f3e3ea;
  --chart-1: #50afb6;
  --chart-2: #e4a2b1;
  --chart-3: #c67b96;
  --chart-4: #175c6c;
  --chart-5: #24272b;
  --sidebar: #141c27;
  --sidebar-foreground: #f3e3ea;
  --sidebar-primary: #fbe2a7;
  --sidebar-primary-foreground: #141c27;
  --sidebar-accent: #b4728f;
  --sidebar-accent-foreground: #f3e3ea;
  --sidebar-border: #324859;
  --sidebar-ring: #50afb6;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #f3e3ea;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}
