/* 4. ROBOTICS THEME */
[data-theme='robotics'] {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #001eff;
  --primary-foreground: #ffffff;
  --secondary: #0006b1;
  --secondary-foreground: #ffffff;
  --accent: #00d3ff;
  --accent-foreground: #0b0e24;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --muted: #f0f0f0;
  --muted-foreground: #333333;
  --destructive: #e7000b;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #ffffff;
  --ring: #00d3ff;
  --surface: #ffffff;
  --surface-foreground: #000000;
  --chart-1: #ff3333;
  --chart-2: #ffff00;
  --chart-3: #0066ff;
  --chart-4: #00cc00;
  --chart-5: #cc00cc;
  --sidebar: #f0f0f0;
  --sidebar-foreground: #000000;
  --sidebar-primary: #001eff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #00d3ff;
  --sidebar-accent-foreground: #0b0e24;
  --sidebar-border: #000000;
  --sidebar-ring: #00d3ff;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #ffffff;
  --radius-sm: 0.125rem;
  --radius-md: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.25rem;
  --radius-2xl: 0.25rem;
}

.dark[data-theme='robotics'] {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #2563ef;
  --primary-foreground: #ffffff;
  --secondary: #001eff;
  --secondary-foreground: #ffffff;
  --accent: #00b8cc;
  --accent-foreground: #ffffff;
  --card: #262626;
  --card-foreground: #ffffff;
  --popover: #000000;
  --popover-foreground: #ffffff;
  --muted: #1a1a1a;
  --muted-foreground: #cccccc;
  --destructive: #e7000b;
  --destructive-foreground: #ffffff;
  --border: #676767;
  --input: #676767;
  --ring: #00b8cc;
  --surface: #000000;
  --surface-foreground: #ffffff;
  --chart-1: #ff3333;
  --chart-2: #ffff00;
  --chart-3: #0066ff;
  --chart-4: #00cc00;
  --chart-5: #cc00cc;
  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #2563ef;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #00b8cc;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #676767;
  --sidebar-ring: #00b8cc;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #ffffff;
  --radius-sm: 0.125rem;
  --radius-md: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.25rem;
  --radius-2xl: 0.25rem;
}
