/* 2. SECONDARY THEME */
[data-theme='secondary'] {
  --background: #ffffff;
  --foreground: #370958;
  --primary: #6a0dad;
  --primary-foreground: #ffffff;
  --secondary: #fdddff;
  --secondary-foreground: #4c0b7c;
  --accent: #fff7ed;
  --accent-foreground: #ff6900;
  --card: #ffffff;
  --card-foreground: #440b6d;
  --popover: #ffffff;
  --popover-foreground: #370958;
  --muted: #fef7ff;
  --muted-foreground: #c4b5fd;
  --destructive: #e7000b;
  --destructive-foreground: #ffedee;
  --border: #fdecfe;
  --input: #fef7ff;
  --ring: #eab5ed;
  --surface: #ffffff;
  --surface-foreground: #370958;
  --chart-1: #ffe9d9;
  --chart-2: #ffd1b0;
  --chart-3: #ff6900;
  --chart-4: #e65f00;
  --chart-5: #cc5400;
  --sidebar: #fef7ff;
  --sidebar-foreground: #440b6d;
  --sidebar-primary: #6a0dad;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fdddff;
  --sidebar-accent-foreground: #440b6d;
  --sidebar-border: #fdecfe;
  --sidebar-ring: #eab5ed;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #ffedee;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}

.dark[data-theme='secondary'] {
  --background: #0f172a;
  --foreground: #e6e9ff;
  --primary: #8b5cf6;
  --primary-foreground: #ffffff;
  --secondary: #1e1b4b;
  --secondary-foreground: #e6e9ff;
  --accent: #bd5104;
  --accent-foreground: #fff7ed;
  --card: #1e1b4b;
  --card-foreground: #e6e9ff;
  --popover: #0f172a;
  --popover-foreground: #e6e9ff;
  --muted: #171447;
  --muted-foreground: #c4b5fd;
  --destructive: #e7000b;
  --destructive-foreground: #ffedee;
  --border: #4916a1;
  --input: #2e1065;
  --ring: #8b5cf6;
  --surface: #0f172a;
  --surface-foreground: #e6e9ff;
  --chart-1: #ffe9d9;
  --chart-2: #ffd1b0;
  --chart-3: #ff6900;
  --chart-4: #e65f00;
  --chart-5: #cc5400;
  --sidebar: #0f172a;
  --sidebar-foreground: #e6e9ff;
  --sidebar-primary: #8b5cf6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #bd5104;
  --sidebar-accent-foreground: #fff7ed;
  --sidebar-border: #4916a1;
  --sidebar-ring: #8b5cf6;
  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #2563ef;
  --info-foreground: #e6e9ff;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}
