@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/plus-jakarta-sans';

:root {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans Variable', system-ui, sans-serif;
  --font-dm-sans: 'DM Sans Variable', system-ui, sans-serif;
  --font-sans: var(--font-dm-sans);
}
